/* BASIC LAYOUT */
.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    transition: width 0.3s ease;
    border-right: 1px solid #e5e5e5;
    padding: 20px 15px;
    overflow: hidden;
}

.sidebar:hover {
    width: 90px;
}

.menu-icon {
    width: 18px;
    height: 18px;
}

.brand .brand-icon {
    width: 22px;
    height: 22px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

/* USER SECTION */
.user-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #5c6cf2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

.menu li:hover,
.menu li.active {
    background: #f1f1ff;
}

/* LOGOUT */
.logout {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: red;
}

/* DASHBOARD */
.dashboard {
    flex: 1;
    padding: 40px 50px;
}

.subtitle {
    margin-bottom: 25px;
    color: gray;
}

/* STATS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.stat-card {
    padding: 22px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
}

.stat-header .stat-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stat-icon {
    width: 18px;
    height: 18px;
}

/* LOWER SECTION */
.lower-section {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.recent-tasks,
.quick-actions {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 20px;
}

/* RECENT TASKS */
.rt-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 35px;
}

/* QUICK ACTIONS */
.qa-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.qa-item img {
    width: 20px;
    height: 20px;
}

.qa-item:hover {
    background: #f7f7ff;
}
